<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">E-mal</label>
            <input type="email" name="email" placeholder="Digite seu E-mail">
        </div>
        <div class="form-control">
            <label for="pass">Senha</label>
            <input type="password" name="pass" placeholder="Digite sua Senha">
        </div>
        <input type="submit" value="Entrar">
        <p>Não tem uma conta? <a href="/register">Realizar Cadastro</a></p>
    </form>
</div>