<div class="auth-container">
    <h2>Cadastro</h2>
    <form action="/register" method="post">
        <div class="form-control">
            <label for="name">Nome:</label>
            <input type="text" name="name" placeholder="Digite seu nome" required>
        </div>
        <div class="form-control">
            <label for="name">E-mail:</label>
            <input type="email" name="email" placeholder="Digite seu email" required>
        </div>
        <div class="form-control">
            <label for="name">Senha:</label>
            <input type="password" name="pass" placeholder="Digite sua senha" required>
        </div>
        <div class="form-control">
            <label for="name">Confirme sua Senha:</label>
            <input type="password" name="confirmPass" placeholder="Redigite sua senha" required>
        </div>
        <input type="submit" value="Cadastrar">
        <p>Já possui conta? <a href="/login">Faça seu Login.</a></p>
    </form>
</div>